@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 mb-5">Welcome to ABC Academy</h1>
    <div class="row">
        <div class="col">
            <button class="btn btn-color"><a class="text-decoration-none" href="/Students">Students Info</a></button>
        </div>
        <div class="col">
            <button class="btn btn-color"><a class="text-decoration-none" href="/Courses">Courses Info</a></button>
        </div>
    </div>
</div>
